#content{
	width: 600px;
	text-align: center;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	/*background-color: yellow;*/
}

.done{
	text-decoration: line-through;
	color: gray;
}

ul {
  list-style-type: none;
}

th {
	text-align: center;
}