#content {
	width: 600px;
	text-align: center;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	/*background-color: yellow;*/
}

.isDone-true {
	text-decoration: line-through;
	color: gray;
}

.list-group {
	text-align: left;
}

.list-group li:hover {
	background-color: #eee;
}

ul {
  list-style-type: none;
}

th {
	text-align: center;
}